<style type="text/css">

body { margin:0; padding:0; }
 
#container123 { margin:0 auto; overflow:auto; padding:80px 0; width:940px; }
#content123{}
 
/* Make Footer Sticky */
#footer_container123 { background:#000000; border:1px solid #666; bottom:0; height:25px; left:0; position:fixed; width:100%; color:#ffffff}
#footer123 { line-height:30px; margin:0 auto; width:940px; text-align:center; color:#ffffff}
</style>
<div id="footer_container123">
    <div id="footer123">
<footer class="navbar-fixed-bottom">


    <a class="" href="#">Copyright 2013 - CIS :: One-Stop Outsourcing Services, Since 2003 !</a>
            
    </div>
</div>